
.search-box{
  position: fixed;
  width: 100%;
  background: #ccc;
  top: 0;
}

.table{
  margin-top: 80px;
}

.table-rows{
  cursor: pointer;
}

input:focus{
  outline: none;
}

.hide{
  display: none;
}

.show{
  display: block!important;
}


.pagination{
  margin-bottom: 50px;
}

li{
  cursor: pointer;
}
