<div class="row m-0 search-box">
  <div class="col-12">
    <div class=" mt-3">
      <div class="form-group">
        <input
          type="text"
          class="form-control"
          id="search-input"
          name="search-input"
          value=""
          (input)="searchInputToArray($event)"
          aria-describedby="search"
          placeholder="Search User"
        >
      </div>
    </div>

  </div>

</div>
<table class="table table-striped">
  <thead>
  <tr>
    <th scope="col" *ngFor="let title of colNames">
      {{title}}
    </th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let user of userListToShow[currentPage]" class="table-rows" (click)="showSelectedUser(user)">
    <th scope="row">{{user.index}}</th>
    <td>
      <img [src]="user.picture" height="30" width="30" alt="user-avatar"/>
    </td>
    <td>{{user.name}}</td>
    <td>{{user.age}}</td>
    <td>{{user.eyeColor}}</td>
    <td>{{user.gender}}</td>
    <td>{{user.company}}</td>
    <td>{{user.email}}</td>
    <td>{{user.phone}}</td>
    <td>{{user.address}}</td>
  </tr>
  </tbody>
</table>

<nav aria-label="...">
  <ul class="pagination">

    <li class="page-item "  (click)="prevPage()"
        [ngClass]="{'disabled':currentPage===0}">
      <a class="page-link"  tabindex="-1">Previous</a>
    </li>

    <li  *ngIf="currentPage>=4"  class="page-item" disabled=""><a class="page-link">...</a></li>
    <div *ngFor="let users of userListToShow;let i=index">
      <li
        class="page-item hide" (click)="getPageData(i)"
        [ngClass]="{'active': currentPage===i,'show':(i===currentPage || i===lastPage-1 || (i<currentPage+5 && i>currentPage-5))}"><a class="page-link">{{i+1}}</a></li>
      <li *ngIf="(currentPage<lastPage-5) && i===lastPage-2" class="page-item" disabled=""><a class="page-link">...</a></li>
    </div>



    <li class="page-item"  (click)="nextPage()"
        [ngClass]="{'disabled':this.currentPage >= lastPage-1}">
      <a class="page-link" >Next</a>
    </li>

  </ul>
</nav>
